.deps
.libs
*.o
*.lo
autom4te.cache
checks
config.log
config.lt
config.status
hdf/Makefile
hdf/examples/Makefile
hdf/fortran/Makefile
hdf/fortran/examples/Makefile
hdf/src/Makefile
hdf/src/h4config.h
hdf/src/stamp-h1
hdf/test/Makefile
hdf/util/Makefile
hdf/util/h4cc
hdf/util/h4fc
hdf/util/h4redeploy
hdf/util/testutil.sh
libhdf4.settings
libtool
man/Makefile
mfhdf/Makefile
mfhdf/dumper/Makefile
mfhdf/dumper/testhdp.sh
mfhdf/examples/Makefile
mfhdf/examples/testexamples.sh
mfhdf/fortran/Makefile
mfhdf/fortran/examples/Makefile
mfhdf/fortran/ftest.f
mfhdf/fortran/jackets.c
mfhdf/fortran/netcdf.inc
mfhdf/fortran/testfortran.sh
mfhdf/hdfimport/Makefile
mfhdf/hdfimport/testutil.sh
mfhdf/hdiff/Makefile
mfhdf/hdiff/testhdiff.sh
mfhdf/hrepack/Makefile
mfhdf/hrepack/hrepack_all.sh
mfhdf/libsrc/Makefile
mfhdf/libsrc/hdf4_netcdf.h
mfhdf/ncdump/Makefile
mfhdf/ncdump/testncdump.sh
mfhdf/ncgen/Makefile
mfhdf/ncgen/ctest0.nc
mfhdf/ncgen/test0.c
mfhdf/ncgen/testncgen.sh
mfhdf/nctest/Makefile
mfhdf/test/Makefile
mfhdf/test/testmfhdf.sh
mfhdf/xdr/Makefile
patches
